<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration form</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="/scripting.js"></script>
</head>

<body class="registrationbody">
    <%- include('../partials/navbar') %>
        <div class="boundary">
            <form action="" id="registration" method="post">
                <div class="emaildiv">
                    <div class="fix-width"><label for="">Email Address</label></div>
                    <div class="myemail"><input type="email" id="email" name="email"></div>
                </div>
                <div class="emaildiv">
                    <div class="fix-width"><label for="">Password</label></div>
                    <div class="myemail"><input type="password" id="password" name="password" required minlength="8">
                    </div>
                </div>
                <div class="emaildiv">
                    <div class="fix-width"><label for="">Confirm Password</label></div>
                    <div class="myemail"><input type="password" id="confirmPassword" name="confirmPassword" required>
                    </div>
                </div>
                <button class="register">Register</button>
            </form>
        </div>
        <!-- <%-include('../partials/footer') %>       -->
</body>
</html>