
<hr class="lasthr">

<div class="container text-center">
  <div class="row align-items-start">
    <div class="col col1">
      <p>Allama Iqbal Town LahorePakistan.</p>

      <p>Phone: 03 111 444 513</p>

      <p>Email: <a href="">humayejewellery@gmail.com</a></p>
      <div>
        <a href=""><img class="social" src="https://img.icons8.com/fluency/48/000000/facebook-new.png" alt=""></a>
        <a href=""><img class="social" src="https://img.icons8.com/fluency/48/000000/instagram-new.png" alt=""></a>
        <a href=""><img class="social" src="https://img.icons8.com/fluency/48/000000/twitter.png" alt=""></a>
        <a href=""><img class="social" src="https://img.icons8.com/fluency/48/000000/whatsapp.png" alt=""></a>
      </div>
    </div>
    <div class="col col2">
      <p><b>INFORMATION</b></p>
      <ul>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Terms & Conditions</a></li>
        <li><a href="">Exchange Policy</a></li>
        <li><a href="registration.html">Register</a></li>
        <li><a href="">Shipping Policy</a></li>
        <li><a href="">Refund & Exchange</a></li>
        <li><a href="">FAQs</a></li>

      </ul>
    </div>
    <div class="col col2">
      <p><b>SUBSCRIBE</b></p>
      <p>Enter your email to receive daily new arrivals and exclusive launch news.</p>
      <form class="d-flex" role="search" id="subscribeform" method="post">
        <input class="form-control me-2" type="email" placeholder="Enter your email" aria-label="Search" id="email" name="email" >
        <button class="btn btn-outline-success" id="subscribe" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</div>
